%html
	%head
		%link{rel: "stylesheet", href: "materialize.min.css"}
		%link{rel: "stylesheet", href: "#{url("assets/css/index.scss")}"}
		%meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}

	%body
		%div.navbar-flo
			.navbar-flo-brand
				= img("watching.png")
			.navbar-title Angles Familly is watching you
			%div.navbar-flo-right.hidden-xs.hidden-sm.logout



		= yield


		%script{type: "text/javascript", src: "jquery.js"}
		%script{type: "text/javascript", src: "materialize.min.js"}